

.app-wrapper{
  
  background-color: bisque;
  margin: 0 auto;
  display: grid;
  width: 1200px;
  height: 900px;

  grid-template-areas: 
  'c ' 
  'b';

  /* grid-template-rows: 50px 1fr;
  grid-template-columns: 150px 10fr; */
  /* grid-gap: 10px; */

}
